 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: #fff;
    text-align: center;
    padding: 30px 15px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2 {
    margin: 15px 0;
    color: #ffcc70;
}

input#movieInput {
    width: 90%;
    max-width: 420px;
    padding: 14px 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    margin-bottom: 15px;
}

button {
    background: linear-gradient(135deg, #00c853, #64dd17);
    border: none;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    margin: 6px;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

#output {
    margin-top: 25px;
    max-width: 700px;
    margin-inline: auto;
}

#output p {
    margin: 8px 0;
    line-height: 1.6;
}

img {
    width: 220px;
    max-width: 100%;
    border-radius: 12px;
    margin-top: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

#myList {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.movie-card {
    background: rgba(255, 255, 255, 0.08);
    padding: 18px;
    border-radius: 16px;
   
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}
.movie-card:hover{
     transform: translateY(-10px);
}

.movie-card p {
    font-size: 14px;
    margin: 6px 0;
}

.deleteBtn {
    background: linear-gradient(135deg, #ff5252, #ff1744);
    margin-top: 12px;
}

hr {
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 15px;
}
@media (max-width: 768px) {

    h1 {
        font-size: 2rem;
    }

    input#movieInput {
        width: 100%;
        max-width: 100%;
        font-size: 14px;
    }

    button {
        width: auto;
        padding: 12px 18px;
        font-size: 14px;
    }

    img {
        width: 180px;
        max-width: 100%;
    }

    #myList {
        grid-template-columns: 1fr;
    }
}
footer{
    background: rgba(244, 244, 244, 0.089);
    padding: 10px;
    text-align: center;
    margin-top: 17px;
}
.footer-class{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.social-icon{
    color: white;
    background: #216812;
    width: 60px;
    height: 60px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 48px;
}
.social-icon:hover{
    background: rgb(37, 37, 156);
    transform: translateY(-8px);
}
